{% extends 'base.html' %}
{% load widget_tweaks %}
{% block base %}
<title>{% block title %}|ورود{% endblock %}</title>
<body>

<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section full-screen gray-light-bg">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">

                <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
                    <!-- Image -->
                    <div class="bg-cover vh-100 ml-n3 gradient-overlay" style="background-image: url(img/hero-bg-1.jpg);">
                        <div class="position-absolute login-signup-content">
                            <div class="position-relative text-white col-md-12 col-lg-7">
                                <h2 class="text-white">خوش آمدید!</h2>
                                <p class="lead">صورت خود را همیشه به سمت آفتاب نگه دارید - و سایه ها در پشت شما قرار می گیرند. به طور مداوم سکوهای کاملاً تحقیق شده را دنبال کنید در حالی که سیستم عامل های به موقع. کاتالیزورهای بهینه موازی کار بهینه برای تغییر بعد از کاتالیزورهای متمرکز برای تغییر.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                   <div class="text-center" style="color: rgba(203,28,21,0.89)">
                        {% if form.non_field_errors %}
                            {% for errors in form.non_field_errors %}
                                <span>{{ errors }}</span>
                            {% endfor %}
                        {% endif %}
                   </div>
                    <div class="login-signup-wrap px-4 px-lg-5 my-5">
                        <!-- Heading -->
                        <h1 class="text-center mb-1">
                            ورود
                        </h1>
                        <p class="text-center mb-5">

                        </p>

                        <!--login form-->
                        <form class="login-signup-form" method="post">{% csrf_token %}
                            <div class="form-group">
                                <label class="pb-1">نام کاربردی</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-user color-primary"></span>
                                    </div>
                                    {{ form.username |add_class:"form-control" }}
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label class="pb-1">کلمه عبور</label>
                                    </div>

                                </div>

                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-lock color-primary btn-show-pass"></span>
                                    </div>
                                    {{ form.password |add_class:"form-control" }}
                                </div>
                                <div class="col-auto">
                                        <a href="{% url 'password_reset' %}" class="form-text small text-muted">
                                            رمز عبور را فراموش کرده اید؟
                                        </a>
                                    </div>
                            </div>

                            <!-- Submit -->
                            <button class="btn btn-block solid-btn  mt-4 mb-3">
                                ورود
                            </button>

                            <!-- Link -->
                            <p class="text-center">
                                <small class="text-muted text-center">
                                   حساب کاربری ندارید؟ <a href="{% url 'sing-up' %}">ثبت نام</a>.
                                </small>
                            </p>

                        </form>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div>
    </section>
    <!--hero section end-->

</div>
<!--body content wrap end-->


</body>
</html>
{% endblock %}