{% extends 'base.html' %}
{% load widget_tweaks %}
{% block base %}

<body>

<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section full-screen gray-light-bg">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">                 <!-- Image -->
                        <div class="position-absolute login-signup-content">
                            <div class="col-md-8 text-center mx-auto container-fluid">
                                <div class="card ">
                                    <div class="card-header " style="background-color: rgba(114,2,187,0.89);">
                                        <h3 class="card-title mb-0 float-left form-text text-white" style="font-size: 20px">تقاضای تغییر گذرواژه فرستاده شد </h3>
                                    </div>
                                    <div class="card-body py-4">
                                    <p class="py-2 form-text small" style="font-size: 20px;color: #0b0b0b">اگر حساب کاربری با ایمیلی که وارد کرده اید وجود داشته باشد ، ما دستورالعمل های تنظیم رمز عبور خود را برای شما ایمیل کرده ایم. باید به زودی آنها را دریافت کنید.
                                        اگر ایمیلی دریافت نکردید ، لطفاً آدرسی را که با آن ثبت نام کرده اید وارد کرده و پوشه هرزنامه خود را بررسی کنید.</p>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
            </div> <!-- / .row -->
    </section>
    <!--hero section end-->

</div>
<!--body content wrap end-->


</body>
</html>
{% endblock %}