<!DOCTYPE html>
{% load static %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static 'library/img/logo.png' %} " alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text "> کتاب خانه </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      {% if user.image %}
        <div class="image">
          <img src="{{ user.image.url}} " class="img-circle elevation-2" alt="User Image">
        </div>
        {% else %}
          <div class="image">
                <img src="{% static 'registration/adminlte/dist/img/download.jpg' %} "  class="img-circle elevation-2" alt="User Image">
          </div>
      {% endif %}
        <div class="info">
          <a href="#" class="d-block">
              {%if user.get_full_name  %}
                {{user.get_full_name }}
              {% else %}
                {{ user.username }}
              {% endif %}
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
        <nav class="mt-2"></nav>
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
                {% if user.is_superuser or user.is_author %}
                    <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>
                        کتاب خانه
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                            <a href="{% url 'panel:library' %}" class="nav-link {% if request.resolver_match.url_name == link_name %}active{% endif %}">
                                <i class="fa fa-list"></i>
                                <p>لیست کتاب خانه</p>
                            </a>
                      </li>
                        <li class="nav-item">
                            <a href="{% url 'panel:library-create' %}" class="nav-link {% if request.resolver_match.url_name == link_name %}active{% endif %}">
                                <i class="fa fa-edit"></i>
                                <p>افزودن کتاب خانه</p>
                            </a>
                        </li>
                    </ul>
                    <li class="nav-item">
                  <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>
                        مقالات
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                            <a href="{% url 'panel:article' %}" class="nav-link {% if request.resolver_match.url_name == link_name %}active{% endif %}">
                                <i class="fa fa-list"></i>
                                <p>لیست مقاله</p>
                            </a>
                      </li>
                      <li class="nav-item ">
                            <a href="{% url 'panel:article-create' %}" class="nav-link {% if request.resolver_match.url_name == link_name %}active{% endif %}">
                                <i class="fa fa-edit"></i>
                                <p>افزودن مقاله</p>
                            </a>
                      </li>
                    </ul>
                {% endif %}
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>
                        پرفایل
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <li class="nav-item">
                            <a href="{% url 'panel:profile'  %}" class="nav-link {% if request.resolver_match.url_name == link_name %}active{% endif %}">
                                <i class="fa fa-th"></i>
                                <p>پرفایل ‍‍‍‍</p>
                            </a>
                    </li>
                </li>
            </ul>
        </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>