{% extends 'navbar.html' %}
{% load static %}
{% load ratings %}
{% block main %}
<!--body content wrap start-->
    <div class="main">
    <!--hero section start-->
    <section class="hero-section ptb-100 gradient-overlay"
             style="background: url('img/hero-bg-4.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-9 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">کتاب خانه</h1>
                        <div class="custom-breadcrumb">
                            <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0">
                                <li class="list-inline-item breadcrumb-item"><a href="{% url 'digital_library:home' %}">خانه</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--blog section start-->
    <section class="our-blog-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-heading mb-5">
                        <h2>مجموعه کتاب ها</h2>
                        <p class="lead">
                          .این بخش شامله مجموعه از کتاب می باشد
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
            {% if object_list %}
                {% for library in object_list %}
                    <div class="col-md-4">
                    <div class="single-blog-card card border-0 shadow-sm">
                        <span class="category position-absolute badge badge-pill badge-primary">{{ library.category_library}}</span>
                        <img style="width:350px;height: 233px" src="{{ library.thumbnail.url}}" class="card-img-top position-relative" alt="blog">
                        <div class="card-body">
                            <h3 class="h5 mb-2 card-title"><a href="{% url 'digital_library:detail_library' library.slug%}">{{ library.title }}</a></h3>
                            {% ratings library %}
                            <div class="post-meta mb-2">
                                <ul class="list-inline meta-list">
                                    <li class="list-inline-item">{{ library.jpublish }}</li>
                                        {% if library.author.get_full_name %}
                                    <li class="list-inline-item"> نویسنده : <span>{{ library.author.get_full_name }}</span></li>
                                        {% else %}
                                            <li class="list-inline-item"> نویسنده : <span>{{ library.author }}</span></li>
                                    {% endif %}
                                    <li><a href="#">بازدید {{ library.hits.count }}</a></li>
                                </ul>
                            </div>
                            <p class="card-text">{{ library.descriptions |striptags|truncatechars:55}}</p>
                            <a href="{% url 'digital_library:detail_library' library.slug%}" class="detail-link">ادامه مطلب <span class="ti-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div><p>محتوای وجود ندارد.</p></div>
            {% endif %}
            </div>

            <!--pagination start-->
                {% if is_paginated %}
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="custom-pagination-nav">
                                <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                <li class="page-item" ><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span class="ti-angle-left"></span></a></li>
                                {% else %}
                                <li class="disabled"><span class="ti-angle-left" ></span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active"><span class="active_page page-link" >{{ i }} </span></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item" ><a class="page-link" href="?page={{ page_obj.next_page_number }}"><span class="ti-angle-right"></span></a></li>
                                {% else %}
                                <li class="disabled"><span class="ti-angle-right" ></span></li>
                                {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}
            <!--pagination end-->

        </div>
    </section>
    <!--blog section end-->

</div>
{% endblock %}
