{% load static %}
<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
          content="AppBeats app landing page template or product landing page template helps you easily create websites for your app or product,  landing page template form promotion and many more.">
    <meta name="author" content="ThemeTags">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!--title-->
    <title>کتاب خانه دیجیتال {% block title %}{% endblock %}</title>

    <!--favicon icon-->
    <link rel="icon" href="{% static 'library/img/logo.png' %}" type="image/png" sizes="16x16">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7COpen+Sans&amp;display=swap"
          rel="stylesheet">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="{% static 'library/css/bootstrap.min.css' %}">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="{% static 'library/css/magnific-popup.css' %}">
    <!--Themify icon css-->
    <link rel="stylesheet" href="{% static 'library/css/themify-icons.css' %}">
    <!--animated css-->
    <link rel="stylesheet" href="{% static 'library/css/animate.min.css' %}">
    <!--ytplayer css-->
    <link rel="stylesheet" href="{% static 'library/css/jquery.mb.YTPlayer.min.css' %}">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="{% static 'library/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'library/css/owl.theme.default.min.css' %}">
    <!--custom css-->
    <link rel="stylesheet" href="{% static 'library/css/style.css' %}">
    <!--responsive css-->
    <link rel="stylesheet" href="{% static 'library/css/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'library/css/newstyle.css'%}">
    <link rel="stylesheet" href="{% static 'library/css/custom.css'%}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>


</head>
<body>
{% block error %}
{% endblock %}

{% block base %}
{% endblock %}

<!--jQuery-->
<script src="{% static 'library/js/jquery-3.4.1.min.js' %}"></script>
<!--Popper js-->
<script src="{% static 'library/js/popper.min.js' %}"></script>
<!--Bootstrap js-->
<script src="{% static 'library/js/bootstrap.min.js' %}"></script>
<!--Magnific popup js-->
<script src="{% static 'library/js/jquery.magnific-popup.min.js' %}"></script>
<!--jquery easing js-->
<script src="{% static 'library/js/jquery.easing.min.js' %}"></script>
<!--wow js-->
<script src="{% static 'library/js/wow.min.js' %}"></script>
<!--owl carousel js-->
<script src="{% static 'library/js/owl.carousel.min.js' %}"></script>
<!--countdown js-->
<script src="{% static 'library/js/jquery.countdown.min.js' %}"></script>
<!--custom js-->
<script src="{% static 'library/js/scripts.js' %}"></script>
</body>
</html>